<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    
  
  <div class="split">
    <div class="split-item split-left">
        <div class="split-left__inner">
            <% if @post.from_mypage_data? %>
              <% if "mp4".in?(@post.from_mypage_data) %>
                <div class="video"><%= video_tag @post.from_mypage_data, muted: true, controls: true, :size => "400x420"%></div>
              <% else %>
                <div class="video"><%= image_tag @post.from_mypage_data, :size => "400x420"%></div>
              <% end %>
            <% else %>
              <% if @post.video?  %>
                  <div class="video"><%= video_tag @post.video, muted: true, controls: true , :size => "400x420"%></div>
              <% else %>
                  <div class="video"><%= image_tag @post.posts_image, :size => "400x420"%></div>
              <% end %>
            <% end %>
        </div><!--split-left__inner-->
    </div><!--split-item split-left-->
    <div class="split-item split-right">
        <div class="split-right__inner">
           <div class="modal-user-name"><%= image_tag @user.image, size: 35 %><%= @user.name %>(<%= @user.prefecture %>,<%= @user.age %><%= @user.sex %>)</div>
        </div><!--split-right__inner-->
    </div><!--split-item split-right-->
  </div
    
