
<nav>
  <ul class="thumbListx3">
    　<% @users.each do |user| %>
    　<% user.posts.each do |post| %>
    　<div class="profile">
        <div class="post.picture"><%= image_tag user.image %></div>
          <p class="post-title"><%= post.title %></p>
                <div class="btn btn-outline-info"><%= user.name %>(<%= user.age %>歳<%= user.sex %>/<%= user.prefecture %>)</div>

      </div>
      <% end %>
      <% end %>
　</ul>
</nav>

