<h2>投稿一覧</h2>



<div class="flex-container">
    <% @users.each do |user| %>
    
    <% user.posts.each do |post| %>
    <div class="user-posts">
    <div class="flex-item-video">
    <% if post.from_mypage_data? %>
      <% if "mp4".in?(post.from_mypage_data) %>
        <div class="video"><%= video_tag post.from_mypage_data, muted: true, controls: true , :size => "350x260"%></div>
      <% else %>
        <div class="video"><%= image_tag post.from_mypage_data, :size => "350x260"%></div>
      <% end %>
    <% else %>
      <% if post.video?  %>
          <div class="video"><%= video_tag post.video, muted: true, controls: true , :size => "350x260"%></div>
      <% else %>
          <div class="video"><%= image_tag post.posts_image, :size => "350x260"%></div>
      <% end %>
    <% end %>
     
    </div>
      <div class="comment">
        <div class="flex-item-left">
          <div><%= image_tag user.image, :size => '50x50' %></div>
        </div>
        <div class="flex-itme-right">
            <div class="post-title"><%= link_to post.title, user_posts_show_path(user, post.id), remote: true, class: "" %></div>
            <div class="user-name"><%= user.name %>(<%= user.prefecture %>,<%= user.age %><%= user.sex %>)</div>
            <div class="posted-date">投稿時間:<%= post.updated_at.in_time_zone('Tokyo').strftime("%Y/%-m/%-d %-H時%-M分") %></div>
        </div>
      </div>
      </div>
    <% end %>
    <% end %>
</div>



<!--モーダルウインドウ表示-->
<div id="posts-show" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
