<div class="flex-container">
    <% @users.each do |user| %>
    
    <% user.posts.each do |post| %>
      <div class="flex-item">
          <div><%= image_tag user.image %></div>
          <div class="post-title"><%= link_to post.title, user_posts_show_path(user, post.id), remote: true, class: "btn btn-lg btn-primary" %></div>
          <div class="user-name"><%= user.name %>(<%= user.prefecture %>,<%= user.age %><%= user.sex %>)</div>
      </div>
    <% end %>
    <% end %>
</div>

<%= link_to "基本情報編集", edit_basic_info_user_path(current_user), remote: true, class: "btn btn-success" %>


<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
