<h1>記事作成</h1><hr>

<%= form_with(model: @post, url: user_create_posts_path, local: true) do |f| %>
  <table class="table table-bordered table-striped profile-table">
    <%= render 'shared/error_messages' %>
    <tr>
      <th><%= f.label :title %></th><br>
      <td><%= f.text_field :title %></td>
    </tr>
    
    <tr>
      <th><%= f.label :content %></th><br>
      <td><%= f.text_area :content %></td>
    </tr>
    
    <tr>
    <% if params[:date]  %>
      <th><%= f.label :from_mypage_data %></th>
      <td><%= f.text_area :from_mypage_data, value: @from_mypage_data.from_mypage_data, readonly: true %></td>
    <% end %>
    </tr>
    
    <tr>
    <% unless params[:date]  %>
      <th><%= f.label :image %></th>
      <td><%= f.file_field :posts_image %></td>
    <% end %>
    </tr>
    
    <tr>
    <% unless params[:date]  %>
      <th><%= f.label :video %></th>
      <td><%= f.file_field :video %></td>
    <% end %>
    </tr>
    
  </table>
  <%= f.submit "投稿する" %>
<% end %> 